.map-container {
  border: 4px solid #000;  /* Add a black border */
  border-radius: 8px;      /* Rounded corners */
  height: 700px;           /* Fixed height for the map */
  width: 100%;             /* Full width */
  position: relative;       /* Position for map elements */
  overflow: hidden;        /* Prevent overflow */
}

#map {
  height: 100%;   /* Full height of the container */
  width: 100%;    /* Full width of the container */
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 8.3%;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

.legend h1 {
  font: 24px Arial, Helvetica, sans-serif;
  text-align: center;
}

#map h1 {
  font: 20px Arial, Helvetica, sans-serif;
  text-align: center;
}

#map h2 {
  font: 16px Arial, Helvetica, sans-serif;
  text-align: center;
}